/* ======================================================================== *
 * RESETS
 * ======================================================================== */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* ======================================================================== *
 * LAYOUT
 * ======================================================================== */
body {
  background-color: #f3f3f3;
  font-family: serif;
}

header {
  text-align: center;
}

h1 {
  font-size: 12em;
  /* 160 / 16 */
  letter-spacing: 2px;
}

/* Demo column
* remove this class
*/
.demo-ui,
.demo-column {
  height: 100%;
}

.demo-column {
  background: rgba(128, 184, 229, 0.6);
  text-align: center;
  display: block;
}

.row {
  margin-bottom: 1em;
}

/* The Columns */
[class^="column-"] {
  height: 100%;
}
