/* ======================================================================== *
 * RESETS
 * ======================================================================== */

html,
body {
	margin: 0;
	padding: 0;
  height: 100%;
}

/* ======================================================================== *
 * LAYOUT
 * ======================================================================== */
body {
	background-color: #f3f3f3;
  font-family: serif;
}

/* Main Container */
.container {
  height: 80%;
  margin: 0 auto;
}

header {
  text-align: center;
}

/* Typography */
h1 {
  font-size: 12em; /* 160 / 16 */
  letter-spacing: 2px;
}

/* Demo column
* remove this class
*/
.demo-ui,
.demo-column {
  height: 100%;
}

.demo-column {
	background: hsla(207, 66%, 70%, 0.6);
	text-align: center;
	display: block;
}

.row {
	margin-bottom: 1em;
}

/* The Columns */
[class^="column-"] {
	height: 100%;
}

