// Variables sass
$column-count: 12;
$gutter: 1em;
$container: 80%;

/* ======================================================================== *
 * GRID SIMPLES
 * ======================================================================== */

/* Main Container */
.container {
	width: $container;
	margin: 0 auto;
  height: 100%;
}

/* The Columns */
[class^="column-"] {
	float: left;
	padding: 0 $gutter;
}

/* The row */
.row {
	margin-left: -$gutter;
	margin-right: -$gutter;
}

.row:after {
	content: "";

	display: table;
	clear: both
}

/* Column widths  */
@for $i from 1 through $column-count {
	.column-#{$i} {
		width: ( 100 / $column-count ) * $i * 1%;
	}
}

/* Special Classes */
.column-third {
	width: (100 / 3) * 1%;
}

.column-two-thirds {
	width: (100 / 3) * 2%;
}

.column-half {
	width: (100 / 2) * 1%;
}

.column-quarter {
	width: (100 / 4) * 1%;
}


/* Responsive */
@media (max-width: 1024px) {
	[class^="column-"] {
		float: left;
		padding: 0 $gutter / 2;
	}

	/* The row */
	.row {
		margin-left: -$gutter / 2;
		margin-right: -$gutter / 2;
	}
}

@media (max-width: 768px) {
	[class^="column-"] {
		width: 100%;
	}

	/* The row */
	.row {
		margin-left: -$gutter / 2;
		margin-right: -$gutter / 2;
	}
}
